* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  color:black;
  background-color: #DADE95;
}

header {
  background-color:#636B2F;
  color: black;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color:black;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #00bcd4;
}

#hero {
  padding: 4rem 2rem;
  background-color:#DADE95;
  text-align: center;
}

#about {
  padding: 3rem 2rem;
  background-color: #f7f7c6; /* Optional light background */
}

.about-card {
  background-color: rgba(181, 57, 57, 0.387);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  line-height: 1.6;
  color: #333;
  font-size: 1.05rem;
}

.highlight {
  color:brown;
}

section {
  padding: 3rem 2rem;
 
}

.project-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.project-card {
  background: #a0c551;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  flex: 1 1 300px;
  border-radius: 10px;
}

form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, textarea {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 0.8rem;
  background-color: #a0c551;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #a0c551;
}

footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

#skills {
  background: #DADE95;
  padding: 3rem 2rem;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.skill {
  background-color: #a0c551;
  color: black;
  padding: 0.7rem 1.5rem;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
